body 
{
    color: blue;
    background: rgb(255, 255, 87) ;
}
.heading
 {
    width:80%;
    font-size: 22px;
 }   
  
  
.nameOfObjects, #resultObjectName, #resultObjectAccuracy
{
    color: rgb(0, 132, 255);
}
#camera 
{
     width: 350px; 
     height: 300px;
     border: 2px dashed black;
}
